.favorite-results {
  list-style: none;
}
.location-results {
  
  border: 2px solid rgba(25,201,255,0.59);
  margin: 7%;
  border-radius: 2%;
  -webkit-box-shadow: -1px 0px 17px 1px rgba(7,19,69,1);
  -moz-box-shadow: -1px 0px 17px 1px rgba(7,19,69,1);
  box-shadow: -1px 0px 17px 1px rgba(7,19,69,1);
}
.remove-favorite {
  border: 1px solid grey;
  position: absolute;
  right: 10%;
  color: white;
  cursor: pointer;
  border-radius: 40%;
  background-color: #f44242;
  padding: .5em .65em;
  margin-top: -10px;
  z-index: -1;
}
.remove-favorite:hover {
  background-color: #f45942;
  color: white;
  font-size: .6em;

}