.new-favorite-input, .new-favorite-label, .new-favorite-button{
  display: block;
  margin: 10px auto;
}

/* If the screen size is less than 325px wide */
@media  only screen and (max-device-width : 324px) {
  .favorites-title {
    font-size: 20px;
  }
}
/* If the screen size is greater than 325 and less than 479px wide */
@media  only screen and (min-device-width : 325px) and (max-device-width : 479px) {
  .favorites-title {
    font-size: 25px;
  }
}
/* If the screen size is greater than 480px and less than 600px wide */
@media  only screen and (min-device-width : 480px) and (max-device-width : 599px) {
  .favorites-title {
    font-size: 35px;
  }
}
/* If the screen size is greater than 599px wide */
@media  only screen and (min-device-width : 600px) {
  .favorites-title {
    font-size: 40px;
  }
}
