input, button {
  border: 1px solid black;
  background-color: white;
  padding: 1%;
}

#location {
  width: 60%; 
}
.search-form-location-label, .search-form-date-label {
  display: block;
  padding-bottom: .5em;
}
.form-location {
  margin-bottom: .8em;
}

.form-date {
  /* margin-top: 1em; */
}
