.search-form {
  margin: 10% 1% 0 1%;
  display: inline-block;
  padding: 2em 2em;
}
.search-form, .search-tides-title {
  border-radius: 2%;
  border: 1px solid grey;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(125,125,125,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(125,125,125,1);
  box-shadow: 0px 0px 25px 0px rgba(125,125,125,1);
}
.search-tides-title {
  margin: 0 0 5% 0;
  font-size: 2em;
  display: inline-block;
  padding: 2% 5%;
}
.search-form-location-label, .search-form-date-label {
  font-size: 1.3em;
}
.form-location, .form-date {
  font-size: 1.2em;
  padding: 5px;
  min-width: 265px;
  text-align: center;
}
.form-date {
  font-size: 1.5em;
}
.search-form-day, .search-tides-title-day {
  background: rgba(219,219,219,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,0.44) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(219,219,219,1)), color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(209,209,209,0.44)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,0.44) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,0.44) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,0.44) 100%);
  background: radial-gradient(ellipse at center, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 0%, rgba(209,209,209,0.44) 100%);
}
.search-form-button {
  display: inline-block;
  margin-top: 1em;
  padding: 5px;
  border-radius: 2px;
  font-size: 1.5em;
}
.search-form-button:hover {
  cursor: pointer;
}
.search-error {
  color: red;
  font-size: 1.2em;
}