.tide-results {
  list-style: none;
}
.tide-list1, .tide-list2, .tide-list3 {
  padding: 5%;
  list-style: none;
}
.tideDisplay {
  border: 1px solid rgba(25,201,255,0.59);
  margin: 7%;
  border-radius: 2%;
  -webkit-box-shadow: -1px 0px 17px 1px rgba(7,19,69,1);
  -moz-box-shadow: -1px 0px 17px 1px rgba(7,19,69,1);
  box-shadow: -1px 0px 17px 1px rgba(7,19,69,1);
}
