html, body, #root {
  width:100%; 
  height:100%; 
  background:#2C365D;
  font-family: sans-serif;
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding-top: 30%;
  height: 100vh;
  width: 100%;
  background-image:url('./img/Beach.png');
  background-size:cover;
  background-attachment: fixed;
}
.night {
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
  background-image:url('./img/adventure-night.jpg');
  background-size:cover;
  background-attachment: fixed;
}


.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 
